assets:
    stylesheets:
        - css/style.css
        - css/style2.css
        - css/test.less
    javascripts:
        - js/script2.js
        - js/script3.js
===
        <div>
            <p>Sample about content</p>
        </div>