assets:
    stylesheets:
        - css/style.css
        - css/style2.css
        - css/style3.css
    javascripts:
        - js/script.js
        - js/script2.js
===
<div>
            <p>Sample index content</p>
        </div>