<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Sample</title>
        <meta name="description" content="Sample page">
        <meta name="author" content="Maxime AILLOUD">
        {{ stylesheets }}
    </head>
    <body>
        {% include 'templates/header.twig' %}

        {{ content }}

        {% include 'templates/footer.twig' %}

        {{ javascript }}

    </body>
</html>